{% extends 'counterapp/base.html' %} {% block title %} Add Receipt {% endblock%}
{% block content %}

<div class="container">
  <div class="text-center">
    <h2>Reciept Voucher</h2>
  </div>
  {% if msg %}
  <div class="alert alert-danger text-center">
    <span class="title">{{ msg }} </span>
  </div>
  {% endif %}
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Code No.</th>
          <th>Item</th>
          <th>Description</th>
          <th>Quantity Recieved</th>
          <th>Remarks</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <div class="pb-2">
    <div id="counter-form">
      <div class="row">
        <div class="col">
          <input
            type="number"
            class="form-control"
            placeholder="Code No"
            aria-label="Code No"
            name="code_no"
          />
        </div>
        <div class="col">
          <select name="item" id="" class="form-control">
            <option value="">--pick item--</option>
            {% for item in items %}
            <option value="{{ item.id }}_{{ item.name }}">{{ item.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col">
          <textarea
            name="description"
            id="description"
            class="form-control"
            placeholder="Description"
          ></textarea>
        </div>
        <div class="col">
          <input
            type="number"
            class="form-control"
            placeholder="Quantity"
            aria-label="QuantityRecieved"
            name="quantity"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Remarks"
            aria-label="Remarks"
            name="remarks"
          />
        </div>
        <div class="col">
          <button id="add-entry" class="btn btn-primary">
            <i class="bi bi-file-plus"></i> Add Item
          </button>
        </div>
      </div>
    </div>
  </div>
  <form action="" method="POST" id="receipt-form">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <label for="voucher_no" class="form-label">Voucher No</label>
        <input
          type="number"
          name="voucher_no"
          id="voucher_no"
          class="form-control"
        />
      </div>
    </div>

    <br />
    <input name="entries" type="text" required hidden />
    <div class="text-center d-grid">
      <button class="btn btn-primary" type="submit" id="save-receipt-btn">
        Save Reciept
      </button>
    </div>
  </form>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const entry = document.getElementById("add-entry");
    const tableBody = document.querySelector("table tbody");
    let entries = [];
    entry.addEventListener("click", function (event) {
      event.preventDefault();

      const code_no = document.querySelector('input[name="code_no"]').value;
      const description = document.querySelector(
        'textarea[name="description"]'
      ).value;
      const item = document.querySelector('select[name="item"]').value;
      const quantity = document.querySelector('input[name="quantity"]').value;
      const remarks = document.querySelector('input[name="remarks"]').value;

      var entry = {
        code_no: code_no,
        description: description,
        item: item,
        quantity: quantity,
        remarks: remarks,
      };

      const row = `
      <tr>
        <td>${code_no}</td>
        <td>${item}</td>
        <td>${description}</td>
        <td>${quantity}</td>
        <td>${remarks}</td>
      </tr>
    `;

      tableBody.innerHTML += row;
      entries.push(entry);
      document.querySelector('input[name="entries"]').value =
        JSON.stringify(entries);
  
      // Clear form inputs
      document.querySelector('input[name="code_no"]').value = "";
      document.querySelector('textarea[name="description"]').value = "";
      document.querySelector('select[name="item"]').value = "";
      document.querySelector('input[name="quantity"]').value = "";
      document.querySelector('input[name="remarks"]').value = "";
    });
  });
</script>

{%endblock%}
