{% extends 'counterapp/base.html' %} {% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3">
      <form action="" method="post">
        {% csrf_token %} {% if msg %}
        <div class="alert alert-danger">
          <span class="title">{{ msg }} </span>
        </div>
        {% endif %}
        <h1 class="h3 mb-3 fw-normal text-center">Create Store Item</h1>
        <div class="form-group">
          <label for="name" class=" form-label">Item Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              required
            />
          
        </div>
        <div class="form-group">
            <label for="description" class="form-label">Description</label>

              <textarea name="description" id="description" cols="20" rows="5" class="form-control"></textarea>
            
          </div>
          <br>
        <div class="text-center d-grid">
          <button type="submit" class="btn btn-dark">Add Item</button>
        </div>
      </form>
    </div>
  </div>
</div>

{%endblock%}
