{% extends 'counterapp/base.html' %} {% block title %} Dashboard {% endblock %}
{% block content %}
<style>
  a {
    text-decoration: none !important;
  }
</style>
<div class="container mt-2">
  {%if request.session %}
  <h2>Dashboard</h2>
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <a
        href="{% url 'Reciepts' %}"
        class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
      >
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary mb-1">
                  Reciepts
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  {{ receipt_count }}
                </div>
              </div>
              <div class="col-auto">
                <i class="bi bi-arrow-bar-up bi-2x"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <a href="{% url 'Requisitions' %}">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success mb-1">
                  Requisitions
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  {{ requisition_count }}
                </div>
              </div>
              <div class="col-auto">
                <i class="bi bi-arrow-bar-down"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <a href="{% url 'Issues' %}">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info mb-1">
                  Issues
                </div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                      {{ issue_count }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="bi bi-cash-coin"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <a href="{% url 'Items' %}">
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-secondary mb-1">
                  Items
                </div>

                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  {{ item_count }}
                </div>
              </div>
              <div class="col-auto">
                <i class="bi bi-database"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    {% if request.session.user_role == "Admin" %}
    <div class="col-xl-3 col-md-6 mb-4">
      <a href="{% url 'Users' %}">
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-secondary mb-1">
                  Users
                </div>

                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  {{ user_count }}
                </div>
              </div>
              <div class="col-auto">
                <i class="bi bi-people"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endif %}
  </div>

  {% else %}

  <p>Login Here </p>

  {% endif %}
</div>

<script>
  const ctx = document.getElementById("myChart");

  new Chart(ctx, {
    type: "bar",
    data: {
      labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
      datasets: [
        {
          label: "# of Votes",
          data: [12, 19, 3, 5, 2, 3],
          borderWidth: 1,
        },
      ],
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  });
</script>
{%endblock%}
