{% extends 'counterapp/base2.html' %} {% block content %}
<main class="px-3 pt-3">
  <div class="py-5">
    <h1>The Intelligent Store Management System</h1>
    <p class="lead">
      dReport is an Intelligent system providing reliable, efficient and rich
      features to help you manage your store operations.
    </p>
    <p class="lead">
      <a
        href="/login"
        class="btn btn-lg btn-light fw-bold border-white bg-white"
        >Get Started</a
      >
    </p>
  </div>
</main>

{% endblock %}
