{% extends 'counterapp/base.html' %} {% block content %}
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css"
/>

<div class="container">
  <div class="pb-1">
    <div class="text-end">
      <a href="{% url 'Add Requisition' %}" class="btn btn-primary"
        >Add Requisition</a
      >
    </div>
  </div>
  <h3>
    <span class="badge rounded-pill bg-danger">pending</span> Requisitions
  </h3>
  <table class="table table-bordered" id="reqs">
    <thead>
      <tr>
        <th scope="col">Voucher No</th>
        <th scope="col">Code No.</th>
        <th scope="col">Item</th>
        <th scope="col">Description</th>
        <th scope="col">Quantity</th>
        <th scope="col">Date.</th>
        {% if request.session.role == "Admin" %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for rec in requisitions %} {% if rec.requisition.approved == False %}
      <tr>
        <td>{{ rec.requisition.voucher_no }}</td>
        <td>{{ rec.code_no }}</td>
        <td>{{ rec.item.name }}</td>
        <td>{{ rec.description }}</td>
        <td>{{ rec.quantity_required }}</td>
        <td>{{ rec.created_at }}</td>
        {% if request.session.role == "Admin" %}
        <td>
          {% if rec.requisition.approved == False %}
          <form action="" method="post">
            <button type="submit" class="btn btn-success">
              <i class="bi bi-check-circle"></i> Approve
            </button>
          </form>
          {% else %}
          <form action="" method="post">
            <button type="submit" class="btn btn-info">
              <i class="bi bi-check-circle"></i> Disapprove
            </button>
          </form>
          {% endif %}
        </td>
        {% endif %}
      </tr>
      {% endif %} {% endfor %}
    </tbody>
  </table>
  <hr />
  <h3>
    <span class="badge rounded-pill bg-success">Approved</span> Requisitions
  </h3>
  <table class="table table-bordered" id="reqs2">
    <thead>
      <tr>
        <th scope="col">Voucher No</th>
        <th scope="col">Code No.</th>
        <th scope="col">Item</th>
        <th scope="col">Description</th>
        <th scope="col">Quantity</th>
        <th scope="col">Date.</th>
        {% if request.session.role == "Admin" %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for rec in requisitions %} {% if rec.requisition.approved == True %}
      <tr>
        <td>{{ rec.requisition.voucher_no }}</td>
        <td>{{ rec.code_no }}</td>
        <td>{{ rec.item.name }}</td>
        <td>{{ rec.description }}</td>
        <td>{{ rec.quantity_required }}</td>
        <td>{{ rec.created_at }}</td>
        {% if request.session.role == "Admin" %}
        <td>
          {% if rec.approved == True %}
          <form action="" method="post">
            <button type="submit" class="btn btn-success">
              <i class="bi bi-check-circle"></i> Approve
            </button>
          </form>
          {% else %}
          <form action="" method="post">
            <button type="submit" class="btn btn-info">
              <i class="bi bi-check-circle"></i> Disapprove
            </button>
          </form>
          {% endif %}
        </td>
        {% endif %}
      </tr>
      {% endif %} {% endfor %}
    </tbody>
  </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>
<script>
  $(document).ready(function () {
    var table = $("#reqs").DataTable({
      dom: "Bfrtip",
      lengthChange: false,
      buttons: ["excel", "pdf", "print"],
    });
  });
  $(document).ready(function () {
    var table = $("#reqs2").DataTable({
      dom: "Bfrtip",
      lengthChange: false,
      buttons: ["excel", "pdf", "print"],
    });
  });
</script>
{%endblock%}
